* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: lightblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.card {
  background-color: white;
  border-radius: 5px;
}

.contact {
  padding: 20px 10px;
  min-width: 300px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

input {
  border: none;
  padding: .5rem;
  margin: .2rem;
  border-radius: .2rem;
}


input:focus {
  outline: 1px solid #ddd;
}

.btn {
  background-color: rgb(32, 202, 32);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: .2rem;
  padding: .5rem;
  cursor: pointer;
}

.btn-remove {
  background-color: tomato;
}

.name {
  color: #555;
}

.email {
  color: #777;
}